---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = `My Astro Learning Blog`;
const posts = await Astro.glob(`./posts/*.md`)
---

<BaseLayout {pageTitle} page="blog">
	<p>This is where I will post about my journey learning Astro.</p>
	<ul>
		{posts.map(({ frontmatter, url }) => <li><a href={url}>{frontmatter.title}</a></li>)}
	</ul>
</BaseLayout>
