---
import '../styles/global.css'
import Menu from '../components/menu.astro'
const pageTitle = `Home page`
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Menu page="home" />
	</body>
</html>
