---
import Navigation from "./Navigation.astro"
import Hamburger from "./Hamburger.astro"

const { page } = Astro.props
---

<header>
  <nav>
    <Hamburger />
    <Navigation {page} />
  </nav>
</header>

<script src="../scripts/menu.js"></script>