---
const { page } = Astro.props
---

<div class="nav-links">
  <a class={page === `home` ? `active` : ``} href="/">Home</a>
  <a class={page === `about` ? `active` : ``} href="/about/">About</a>
  <a class={page === `blog` ? `active` : ``} href="/blog/">Blog</a>
</div>
